.footerContainer {
    
    width: 100%;
    font-size: 0.8em;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    background-color: rgb(250,212,160);
}

#github {
    height: 2rem;
    width: 2rem;
    padding-left: 1em;
    color: black
}
