.homeContainer {
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeImageContainer {
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    max-width: 100%;
    min-height: 100%;
    position: relative;
    text-align: center;
}

.homeImage {
    max-width: 100%;
    opacity: 0.3;
    grid-area: 1 / 1 / -1 / -1 ;
}

.tagline {
    grid-row-start: 3;
    grid-column-start: 1;
    min-width: 80%;
    font-weight: 600;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
}

.shopNow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-decoration: none;

}

.shopNowBtn {
    width: fit-content;
    padding: 1rem 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(250,212,160);
    font-size: 2rem;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
   .homeImageContainer {
        min-width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
   }
   .tagline {
        grid-column-start: 2;
        grid-row-start: 2;
   }
   .shopNow {
        grid-row-start: 3;
        grid-column-start: 2;
   }
}